*{
  margin: 0;
  padding: 0;
}

body{
  background-color: rgb(59, 59, 104);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordBox{
  background-color: blueviolet;
padding: 20px;
  width: 350px;
}

.passwordBoxIn{
  display: flex;
}

.passwordBoxIn input{
  flex-basis: 80%;
  padding-left: 5px;
}

.passwordBoxIn button{
  flex-basis: 20%;
  padding: 10px 0;
}

.passLength{
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.passLength label{
  flex-basis: 80%;
}

.passLength input{
  flex-basis: 20%;
}

.passlength{
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.passlength input{
  width: 60px;
  padding: 10px 0;
}

.btn{
  width: 100%;
  padding: 10px 0;
  cursor: pointer;
}